<h3>{{questionTitle || 'Questions'}}</h3>
<div class="form-inline">
  <label>Sort</label>
  <button ng-click="predicate = '-created'; questionTitle = 'Newest Questions'" class="btn btn-info btn-sm">Newest</button>
  <button ng-click="predicate = '-voteCount'; questionTitle = 'Most Popular Questions'" class="btn btn-info btn-sm">Most Popular</button>
</div>
<br>
<ul class="question-list list-group">
  <li ng-repeat="question in questions | orderBy:predicate" class="list-group-item" ng-class="{new: question.new}">
    <div class="pull-right">
      <label style="padding: 5px;">{{question.voteCount}}</label>
      <button ng-click="upvote(question)" class="btn btn-success btn-sm pull-right">&plus;1</button>
    </div>
    <strong>{{question.text}}</strong>
    <br><small ng-show="question.name">&ndash;{{question.name}}</small>
    <label ng-hide="question.category == 'unknown'" class="label label-info">{{question.category}}</label>
  </li>
</ul>